.App {
  text-align: center;
}
h2{
  font-size: 2.5rem;  
  font-family: 'Great Vibes',  sans-serif;
}
@media (min-width: 1920px) {
  h2{
    font-size: 3.5rem;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.game-start{
  margin-left: 15%;
}

#start-game-button{
  font-size: 1em;
  font-weight: 700;
  width: 100px;
  background-color: #282c34;
  color: white;
  border: 2px solid black;
  border-radius: 25px;
}