.drinksElement{
  color: white;
  width: 30%;
  font-size: 14px;
  margin:0 2% ;
  & h4{
    margin: 0;
    margin-left: 0;
  }
  &__sub{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &-dotted-line {
      border-bottom: 1px dotted white;
      flex-grow: 1;
    }
  }
  &__buttons{
    margin-bottom: 10px;

    &__1{
      width: 10%;
      background-color: green;
      border: 2px solid greenyellow;
      border-radius: 30px;
    }
    
  }
}