$breakpoint-fullhd: 1920px;

.footer{
  color: #cf462d;
  margin-left: 15%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8 ) 100%);
  padding: 3px;
  &__form{
    font-size: 1em;
    border: 5px solid #cf462d;
    color: white;
    display: flex;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    &__label{
      margin: 2%;
      text-shadow: 3px 3px black;
      & input{
        margin-left: 15px;
        border: 2px solid black;
        border-bottom: 2px solid #cf462d;
        border-right: 2px solid #cf462d;
        box-shadow: 2px 1px #cf462d;
      }
      & textarea{
        margin-left: 15px;
        border: 2px solid black;
        border-bottom: 2px solid #cf462d;
        border-right: 2px solid #cf462d;
        box-shadow: 2px 1px #cf462d;
      }
      & p{
        margin: 0;
        margin-bottom: 10px;
      }
    }
    &_submitButton{
      background: #cf462d;
      border:#cf462d;
      border-top: 5px solid #cf462d;
      font-weight: 700;
      &:focus{
        opacity: 0;
        transition: opacity 1s ;
      }
    }
  }
  &__social{
    padding: 10px;
    margin: 2%;
  }
}

@media (min-width: $breakpoint-fullhd) {
  .footer{
    font-size: 1.5em;
  }
}