$breakpoint-fullhd: 1920px;

.pizzaElement{
  color: white;
  width: 30%;
  font-size: 0.8em;
  margin:0 2% ;
  & h4{
    margin: 0;
    margin-left: 0;
  }
  &__sub{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &-dotted-line {
      border-bottom: 1px dotted white;
      flex-grow: 1;
    }
  }
  &__buttons{
    margin-bottom: 10px;

    &__1{
      width: 25px;
      background-color: green;
      border: 2px solid greenyellow;
      border-radius: 30px;
      cursor: pointer;

    }
  }
}

@media (min-width: $breakpoint-fullhd) {
  .pizzaElement{
    font-size: 1.2em;
  }
}